<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h2>Python Programming - 2301CS404</b></center>
<center><b><h2>Lab - 2</b></center>    
<center><b><h3>Roll No.: 418</b></center>  
<center><b><h3>Name: PARMAR BHAVIIK A.</b></center>  
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [ ]:
name = input("Enter Your Name : ")
print(f"Hello, {name}, Welcome To Python LAB")

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [ ]:
num1 = int(input("Enter Number1 : "))
num2 = int(input("Enter Number2 : "))
num3 = int(input("Enter Number3 : "))

sum = num1 + num2 + num3
avg = sum/3

print("Sum Of Three Number : " , sum)
print("Avg Of Three Number : " , avg)

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [ ]:
name = input("Enter Your Name : ")
age = int(input("Enter Your Age : "))
percentage = float(input("Enter Your Percentage : "))

print(name, type(name))
print(age, type(age))
print(percentage, type(percentage))

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [ ]:
print("Python", "Programming", "Basic")

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [ ]:
value = input("Enter Something : ")
print(value)
print("Type : ", type(value))
print("ID : ", id(value))

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [ ]:
value = 10
print("Original ID : ", id(value))
value = 20
print("New ID : ", id(value))

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [ ]:
print("""Welcoe To Python
This is the second lab
Enjoy coding! """)

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [ ]:
print(f"{'Sr No.' : ^7} {'Name' : ^15} {'Subject' : ^12} {'Grade' : ^12} {'Percentage' : ^6}")
print(f"{'1' : ^7} {'Nisha Patel' : ^15} {'Math' : ^8} {'A' : ^15} {'92' : ^15}")
print(f"{'2' : ^7} {'Narav Modi' : ^15} {'Science' : ^12} {'B+' : ^8} {'85' : ^20}")
print(f"{'3' : ^7} {'Jiya Shah' : ^13} {'English' : ^15} {'A+' : ^6} {'96' : ^23}")

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [ ]:
num = float(input("Enter Float Number : "))
print(f"2 Decimal : {num : .2f}")
print(f"3 Decimal : {num : .3f}")
print(f"Width 10 : {num: 10.2f}")

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [ ]:
a, b = input("Enter Two Number : ").split(' ')
a = int(a)
b = int(b)
print("Sum OF Two Number : ", (num1+num2))
print("Difference OF Two Number : ", (num1-num2))
print("Product OF Two Number : ", (num1*num2))
print("Mod OF Two Number : ", (num1%num2))

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [ ]:
date, month, year = input("Enter Date (in dd mm yyyy format) : ").split(' ')
print(f"{date}/{month}/{year}")
print(date, month, year, sep="/")
print(f"{year}-{month}-{date}")
print(year, month, date, sep="-")

### 13) WAP to calculate area and perimeter of a circle.

In [ ]:
radius = float(input("Enter Rad : "))
print("Area OF Circle : ", 3.1415 * radius * radius)
print("Perameter OF Circle : ", 2 * 3.1415 * radius)

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [ ]:
celsius = float(input("Enter Temp in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit =", fahrenheit)


fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print("Temperature in Celsius =", celsius)

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [ ]:
km = float(input("Enter Distance (in KM): "))

meter = km * 1000
centimeter = km * 100000
feet = km * 3280.84
inch = km * 39370.1

print("Distance in Meter =", meter)
print("Distance in Centimeter =", centimeter)
print("Distance in Feet =", feet)
print("Distance in Inches =", inch)